

a:link{
    color:black;
    font-size: 25px;
}

a:visited{
    color:yellow;
}

a:hover{
    color: rgb(0, 183, 255);
    font-weight:bold;
    
}
a:active{
    color: red;
    font-style:italic;
}

input:focus{
     color: green;
     font-size: 20px;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(3, 1, 78);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: flex;
    flex-direction: column;
    color: rgb(247, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    background-color: rgb(9, 196, 243);
}

ul.topnav li.right {
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}


input:focus{
    border: 4px solid aqua;
    outline: none;
}